# Configurações de E-mail (Exemplo para Gmail)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=seu-tiago.coderia@gmail.com
EMAIL_PASS=sua-senha-de-app-google 
# Para gerar a senha de app: https://myaccount.google.com/apppasswords
